# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local django settings file
**/settings_local.py

# Secret key
**/secret_key.py

# Database
**/db.sqlite3

# Static files
**/staticfiles/

# Media files
**/media/

# Virtual environment
**/venv/

# IDE specific files
.vscode/
.idea/
*.iml

# System Files
*.DS_Store
Thumbs.db